@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --radius-lg: 1rem;
  --radius-md: 0.75rem;
  --radius-sm: 0.5rem;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --accent: #2563eb;
  --muted: #8d8d8d;
  --border: #f0f0f0;
  --skill-card-bg: #FFFFFF;
  --font-geist-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

}

.dark {
  --background: #000000;
  --foreground: #ffffff;
  --accent: #3b82f6;
  --muted: #a3a3a3;
  --border: #262626;
  --skill-card-bg: #09090b;
}



@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300 antialiased;
    font-family: var(--font-geist-sans);
  }
}

@layer utilities {
  .glass {
    @apply bg-background/70 backdrop-blur-md border border-white/20;
  }

  .dark .glass {
    @apply bg-black/50 backdrop-blur-md border border-white/10;
  }

  .section-padding {
    @apply py-20 px-6 md:px-12 lg:px-24;
  }

  .perspective-1000 {
    perspective: 1000px;
  }
}

html {
  scroll-behavior: smooth;
}